<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film Reviews</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    
</head>
<body>
    <!-- Responsive navbar-->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" th:fragment="navbar">
        <div class="container px-lg-5">
            <a class="navbar-brand" href="/admin/filme">Film Review</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/admin/filme}">Filme</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/admin/ratings">Bewertungen</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/admin/filme/addfilm">Film hinzufügen</a></li>
					<li class="nav-item"><a class="nav-link active" href="/admin/registrieren">Admin hinzufügen</a></li>
                    <li class="nav-item"><a class="nav-link active" th:href="@{/user/filme}" style="color: yellow;">User-Bereich</a></li>
					<li class="nav-item"><a class="nav-link active" th:href="@{/logout}" style="color: red;">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>